doctype html
html(lang="en")
  head
    title= odinWeather
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    .container
      section.section
        .card
          .card-content
            .level
              .level-item
                .field.has-addons
                  .control
                    input.input#input(placeholder="Place or zipcode")
                  .control
                    button.button.is-link#go Go
            section.section
              .has-text-centered#view
                h1.title#name
                h2.subtitle#current
                p#condition


    script(type='text/javascript' src='bundle.js')
                
