doctype html
html(lang="en")
  head
    title= odinWeather
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    .container
      section.hero.is-large#hero
        .hero-body
          .container
            h1.title odinWeather
            h2.subtitle
            .field.has-addons
              .control
                button.button.is-static
                  | What's the weather like in 
              .control
                input.input#input(placeholder="Place or zipcode")
              .control
                button.button.is-link#search ?

    script(type='text/javascript' src='bundle.js')
                
